In [16]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [17]:
import urllib
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re

In [25]:
### Rithika suggested I merge all of the find_alls into one large function, so the code below was created with her assistance. 

def parse(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
#         try:
#             salary = each.find('span', {'class':'no-wrap'}).text
#         except:
#             salary = 'None'
#         synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
        df = df.append({'Title':title, 'Location':location, 'Company':company}, ignore_index=True)
    return df

In [26]:
parse(URL)

,Title,Location,Company,Salary,Synopsis
0,Data Scientist (Big Data),None,Columbia Consulting Group,NaN,NaN
1,Risk Data Scientist,None,"MoneyLion, Inc",NaN,NaN
2,Data Scientist,"New York, NY",Digitalogy Consulting,NaN,NaN
3,Data Scientist,"New York, NY 10014 (West Village area)",RapidIT Inc,NaN,NaN
4,MODA Data Scientist,"Manhattan, NY",New York City DEPT OF INFO TECH & TELE...,NaN,NaN
5,Data Scientist - Insights,"New York, NY",Getty Images,NaN,NaN
6,Data Scientist,"New York, NY 10005 (Financial District area)",Attune,NaN,NaN
7,Junior Data Scientist,"New York, NY",Remedy Partners,NaN,NaN
8,"Data Scientist, Customer Operations","New York, NY 10014 (West Village area)",Squarespace,NaN,NaN
9,Data Scientist (NY),"New York, NY",Debtsy,NaN,NaN
10,Data Scientist,"New York, NY",RISIRISA,NaN,NaN
11,Data and Statistics Intern,"New York, NY",United Nations Development Programme (...,NaN,NaN
12,Applied Data Scientist,None,CyberCoders,NaN,NaN
13,Data Scientist II,None,Delaware North,NaN,NaN
14,Data Scientist,None,Disney Streaming Services,NaN,NaN

In [47]:
def extract_location_from_result(soup): 
    locations = []
    spans = soup.findAll('span', attrs={'class': 'location'})
    for span in spans:
        locations.append(span.text)
    return(locations)
extract_location_from_result(soup)

['New York, NY 10104 (Midtown area)',
 'New York, NY 10011 (Chelsea area)',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY 10014 (West Village area)',
 'New York, NY 10036',
 'New York, NY 10036',
 'Central Islip, NY',
 'New York, NY 10005 (Financial District area)']

In [15]:
def extract_salary_from_result(soup): 
    salaries = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            salaries.append(div.find('nobr').text)
        except:
            try:
                div_two = div.find(name="div", attrs={"class":"sjcl"})
                div_three = div_two.find("div")
                salaries.append(div_three.text.strip())
            except:
                salaries.append("Nothing_found")
    return(salaries)
extract_salary_from_result(soup)

['Nielsen',
 'MoneyLion, Inc',
 'Transport Learning',
 'Chembio Diagnostic Systems, Inc.',
 'VISITING NURSE SERVICE OF NEW YORK',
 'PS&S',
 'AETNA',
 'IBM',
 'Spotify',
 'Bonobos',
 'FINDYR',
 'Facebook',
 'Spotify',
 'Netlan Technology',
 'Digitalogy Consulting',
 'Spotify',
 'Strategic Financial Solutions',
 'Disney Streaming Services']

In [49]:
def extract_location_from_result(soup): 
    locations = []
    spans = soup.findAll('span', attrs={'class': 'location'})
    for span in spans:
        locations.append(span.text)
    return(locations)
extract_location_from_result(soup)

['New York, NY 10104 (Midtown area)',
 'New York, NY 10011 (Chelsea area)',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY 10014 (West Village area)',
 'New York, NY 10036',
 'New York, NY 10036',
 'Central Islip, NY',
 'New York, NY 10005 (Financial District area)']

In [50]:
def extract_salary_from_result(soup): 
    salaries = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            salaries.append(div.find('nobr').text)
        except:
            try:
                div_two = div.find(name="div", attrs={"class":"sjcl"})
                div_three = div_two.find("div")
                salaries.append(div_three.text.strip())
            except:
                salaries.append("Nothing_found")
    return(salaries)
extract_salary_from_result(soup)

['Bloomberg\n\n\n736 reviews',
 'Disney Streaming Services\n\n\n7 reviews',
 'Epic Pharma LLC',
 'Chembio Diagnostic Systems, Inc.\n\n\n10 reviews',
 'Digitas\n\n\n167 reviews',
 'Spotify\n\n\n48 reviews',
 'Butterfly Network',
 'Thasos Group',
 'American Express\n\n\n6,847 reviews',
 'Transport Learning',
 'Celonis',
 'Quantilus\n\n\n2 reviews',
 'Hopper',
 'zioqu',
 '81qd',
 'Noom Inc.\n\n\n9 reviews']

In [53]:
def extract_summary_from_result(soup): 
    summaries = []
    spans = soup.findAll('span', attrs={'class':'summary'})
    for span in spans:
        summaries.append(span.text.strip())
    return(summaries)
extract_summary_from_result(soup)

[]